body
{
    display: flex;
    width: 100%;
    overflow-x: hidden;
    background: #000;
    flex-direction: column;
}

article
{
    width: calc(100vh * 9 / 19);
    margin: auto;
    overflow: hidden;
    position: relative;
}

article:first-of-type
{
    margin-top: 30vh;
}

article:last-of-type
{
    margin-bottom: 30vh;
}

#PANEL1
{
    height: 100vh;
    background: #ff6;
}

#PANEL2
{
    height: 50vh;
    background: #3c3;
}

#PANEL3
{
    height: 125vh;
    background: #3fc;
}

#PANEL4
{
    height: 100vh;
    background: #ccc;
}

.parallax
{
    display: block;
    position: absolute;
}

#PANEL1_elem1
{
    height: 50%;
    width: 75%;
    top: 10%;
    right: calc(50% - 75% / 2);
    background: #fff;
}

#PANEL1_elem2
{
    height: 20%;
    width: 10%;
    top: 5%;
    right: 45%;
    background: #000;
}

#PANEL2_elem1
{
    height: 25%;
    width: 50%;
    top: 20%;
    left: 10%;
    background: #606;
}

#PANEL3_elem1
{
    height: 10%;
    width: 20%;
    top: 20%;
    right: 40%;
    background: #c33;
}

#PANEL4_elem1
{
    height: 20%;
    width: 80%;
    top: 40%;
    right: 10%;
    background: #333;
    overflow: hidden;
}

#PANEL4_elem1_elem1
{
    height: 60%;
    width: 20%;
    top: 20%;
    right: 20%;
    background: #c33;
}